<div class="container">
  <div class="row">

    <h1>Editing Phone</h1>

    <%= render 'form' %>

    <%= link_to 'Show', person_phone_path(@phone.person_id, @phone.id) %> |
    <%= link_to 'Back', person_path(@phone.person_id) %>

  </div>
</div>
