<div class="container">
  <div class="row">

    <h1>Editing Person</h1>

    <%= render 'form' %>

    <div class="btn-group" role="group">
      <%= button_to 'Show', @person, form_class: "form-inline", method: "get" %>
      <%= button_to 'Back', people_path, form_class: "form-inline", method: "get" %></button>
    </div>

  </div>
</div>
